{
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindFunctions": ["cn", "cva"],
  "tailwindStylesheet": "packages/ui/src/styles/globals.css",
  "trailingComma": "all"
}
