# Dependencies
node_modules

# Next.js & Build Outputs
.next/
out/
build/
dist/

# Turborepo & TypeScript
.turbo
*.tsbuildinfo
next-env.d.ts

# Environment & Secrets
.env
.env.*
!.env.example
!.env*.example

# Logs & Testing
*.log
coverage/

# OS & Vercel
.DS_Store
.vercel
